<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <menuitem id="menu_unicore_quiz_root"
                  name="Quizzes"
                  
                  sequence="120"/>

        <menuitem id="menu_unicore_quiz_take"
                  name="Take Quiz"
                  parent="menu_unicore_quiz_root"
                  action="action_unicore_quiz_take"
                  sequence="10"/>

        <menuitem id="menu_unicore_quizzes"
                  name="Manage Quizzes"
                  parent="menu_unicore_quiz_root"
                  action="action_unicore_quiz"
                  sequence="20"/>
                  
        <menuitem id="menu_unicore_quiz_attempts"
                  name="Attempts"
                  parent="menu_unicore_quiz_root"
                  action="action_unicore_quiz_attempt"
                  sequence="30"/>

        <menuitem id="menu_unicore_question_bank"
                  name="Question Bank"
                  parent="menu_unicore_quiz_root"
                  action="action_unicore_question_bank"
                  sequence="40"/>
    </data>
</odoo>
