<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <record id="action_modern_dashboard" model="ir.actions.client">
        <field name="name">Modern Dashboard</field>
        <field name="tag">odoo_modern_backend.dashboard</field>
    </record>

    <menuitem id="menu_modern_dashboard"
              name="Modern Dashboard"
              action="action_modern_dashboard"
              sequence="1"/>
</odoo>
