<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <menuitem id="menu_unicore_skill_root"
                  name="Skill Assessment"
                  
                  sequence="80"/>

        <menuitem id="menu_unicore_skill_assessments"
                  name="Assessments"
                  parent="menu_unicore_skill_root"
                  action="action_unicore_skill_assessment"
                  sequence="10"/>

        <menuitem id="menu_unicore_skill_config"
                  name="Configuration"
                  parent="menu_unicore_skill_root"
                  sequence="100"/>

        <menuitem id="menu_unicore_skill_list"
                  name="Skills"
                  parent="menu_unicore_skill_config"
                  action="action_unicore_skill"
                  sequence="10"/>
    </data>
</odoo>
