// Colors

$mk_color_brand: #1E293B;
$mk_color_primary: #6366F1;

$mk_color_success: #10B981;
$mk_color_info: #0EA5E9;
$mk_color_warning: #F59E0B;
$mk_color_danger: #EF4444;

// Override

$o-community-color: $mk-color-brand;
$o-enterprise-color: $mk-color-brand;
$o-enterprise-action-color: $mk-color-primary;

$o-brand-odoo: $mk-color-brand;
$o-brand-primary: $mk-color-primary;

$o-success: $mk-color-success;
$o-info: $mk-color-info;
$o-warning: $mk-color-warning;
$o-danger: $mk-color-danger;

$o-theme-text-colors: (
    "primary": $mk-color-brand,
    "success": $o-success,
    "info": $o-info,
    "warning": $o-warning,
    "danger": $o-danger,
);
