<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <menuitem id="menu_unicore_appointment_root"
                  name="Appointments"
                  
                  sequence="90"/>

        <menuitem id="menu_unicore_appointment_slots"
                  name="Slots"
                  parent="menu_unicore_appointment_root"
                  action="action_unicore_appointment_slot"
                  sequence="10"/>

        <menuitem id="menu_unicore_appointment_bookings"
                  name="Bookings"
                  parent="menu_unicore_appointment_root"
                  action="action_unicore_appointment_booking"
                  sequence="20"/>
    </data>
</odoo>
