<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <menuitem id="menu_oacis_grievance_root"
                  name="Grievances"
                  
                  sequence="60"/>

        <menuitem id="menu_oacis_grievance_requests"
                  name="Requests"
                  parent="menu_oacis_grievance_root"
                  action="action_oacis_grievance_request"
                  sequence="10"/>

        <menuitem id="menu_oacis_grievance_config"
                  name="Configuration"
                  parent="menu_oacis_grievance_root"
                  sequence="100"/>

        <menuitem id="menu_oacis_grievance_categories"
                  name="Categories"
                  parent="menu_oacis_grievance_config"
                  action="action_oacis_grievance_category"
                  sequence="10"/>
    </data>
</odoo>
