<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <menuitem id="menu_oacis_progression_root"
                  name="Progression"
                  
                  sequence="50"/>

        <menuitem id="menu_oacis_progression_records"
                  name="Progression Records"
                  parent="menu_oacis_progression_root"
                  action="action_oacis_progression_record"
                  sequence="10"/>
    </data>
</odoo>
