// Colors

$mk_color_appsmenu_text: #F8FAFC;
$mk_color_appbar_text: #94A3B8;
$mk_color_appbar_active: #6366F1;
$mk_color_appbar_background: #0F172A;

// Override

$mk-appsmenu-color: $mk_color_appsmenu_text;
$mk-appbar-color: $mk_color_appbar_text;
$mk-appbar-active: $mk_color_appbar_active;
$mk-appbar-background: $mk_color_appbar_background;