<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <menuitem id="menu_unicore_mentor_root"
                  name="Mentoring"
                  
                  sequence="70"/>

        <menuitem id="menu_unicore_mentor_allocations"
                  name="Allocations"
                  parent="menu_unicore_mentor_root"
                  action="action_unicore_mentor_allocation"
                  sequence="10"/>

        <menuitem id="menu_unicore_mentor_meeting_logs"
                  name="Meeting Logs"
                  parent="menu_unicore_mentor_root"
                  action="action_unicore_mentor_meeting_log"
                  sequence="20"/>
    </data>
</odoo>
