ODOO_BASE_URL=http://localhost:8069
STUDENT_LOGIN=student1@oacis.edu
STUDENT_PASSWORD=change-me
FACULTY_LOGIN=faculty1@oacis.edu
FACULTY_PASSWORD=change-me
GUARDIAN_LOGIN=guardian1@oacis.edu
GUARDIAN_PASSWORD=change-me
